.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.Header nav {
  display: flex;
  flex-direction: row;
}

.Header nav a {
  color: black;
  flex-direction: row;
  font-weight: bold;
  margin: 0 15px;
  text-decoration: none;
}

.Header nav a:hover {
  color: rgb(80, 0, 200);
}

.Home {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px 35px 25px;
}

.Home h2 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
}

.Home h2 span {
  color: rgb(80, 0, 200);
}

.WeatherInfoImage {
  font-size: 120px;
  transition: 0.5s opacity;
}

.WeatherInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.WeatherInfoBasic {
  border: 2px solid black;
  border-radius: 15px 0 0 15px;
  flex-basis: 35%;
  padding: 30px;
  text-align: center;
  transition: 1s background;
}

.WeatherInfoType {
  font-size: 40px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  transition: 0.5s opacity;
}

.WeatherInfoTemp {
  font-size: 60px;
  margin: 0;
  transition: 0.5s opacity;
}

.Label {
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}

.WeatherInfoPlus {
  border: 2px solid black;
  border-left: none;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-basis: 65%;
  padding: 30px 15px;
}

.WeatherInfoColumn {
  flex-basis: 50%;
  padding: 0 15px;
}

.WeatherInfoTextSmall {
  font-size: 40px;
  margin: 0;
  margin-bottom: 20px;
  transition: 0.5s opacity;
}

@media screen and (max-width: 640px) {
  h1 {
    margin-bottom: 5px;
  }

  .Header {
    flex-direction: column;
  }

  .Header nav {
    padding-bottom: 15px;
  }

  .WeatherInfo {
    flex-direction: column;
  }

  .WeatherInfoBasic {
    border-radius: 15px 15px 0 0;
  }

  .WeatherInfoPlus {
    border: 2px solid black;
    border-top: none;
    border-radius: 0 0 15px 15px;
  }
}

@media screen and (max-width: 500px) {
  .WeatherInfoPlus {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .Header nav {
    flex-direction: column;
  }

  .Header nav a {
    font-weight: normal;
    text-align: center;
  }
}
